@page
@model QuestionExample.Pages.Question2Model
@{
}

<form method="Get" class="row g-3">
	<input type="hidden" name="handler" value="Query" />

	<div class="col-md-3">
		<label asp-for="Query.Year" class="form-label"></label>
		<input asp-for="Query.Year" class="form-control" value="@DateTime.Now.Year">
		<span asp-validation-for="Query.Year" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Query.Brand" class="form-label"></label>
		<select asp-for="Query.Brand" class="form-select" asp-items="@Model.BrandList"></select>
	</div>
	<div class="col-12">
		<button type="submit" class="btn btn-primary">查詢</button>
	</div>
</form>

<br></br>

<form method="Post" class="row g-3">
	<button type="submit" class="btn btn-primary">存檔</button>
	<div id="outputDiv">
		<table class="table table-hover table-bordered border-primary">
			<thead class="table-dark">
				<tr>
					<th class="text-center">月份</th>
					<th class="text-center">品牌</th>
					<th class="text-center">預告訂單金額(USD)</th>
					<th class="text-center">實際接單訂單金額(USD)</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.OrdSumList != null)
				{
					for (var i = 0; i < Model.OrdSumList.Count(); i++)
					{
						<input type="hidden" asp-for="@Model.OrdSumList[@i].OrdDate" />
						<input type="hidden" asp-for="@Model.OrdSumList[@i].Brand" />
						<input type="hidden" asp-for="@Model.OrdSumList[@i].IsEdit" />

						<tr class="align-middle">
							<td class="text-center">@Model.OrdSumList[@i].EngMonth</td>
							<td class="text-center">@Model.OrdSumList[@i].Brand</td>
							<td class="text-end"><input asp-for="@Model.OrdSumList[@i].ForecastPrice" value="@Model.OrdSumList[@i].ForecastPrice" onchange="IsEdit(@i)" /></td>
							<td class="text-end">@Model.OrdSumList[@i].SumAmount</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</form>

<div id="LiveToast" class="toast align-items-center text-warning bg-success p-2 text-white bg-opacity-75 border-0 position-absolute bottom-0 end-0" style="z-index: 11" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body" id="ToastTxt"></div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
</div>

<div id="Loading" class="d-flex justify-content-center" style="visibility:hidden">
	<div class="spinner-border text-info" style="width: 7rem; height: 7rem;" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		function LoadingVisible() {
			const loading = document.getElementById("Loading")
			loading.setAttribute("style", "visibility: visible");
		}

		function Loadinghidden() {
			const loading = document.getElementById("Loading")
			loading.setAttribute("style", "visibility: hidden");
		}

		function ShowToast(text) {
			const toastTxt = document.getElementById("ToastTxt")
			toastTxt.innerHTML = text

			const liveToast = document.getElementById('LiveToast')
			var toast = new bootstrap.Toast(liveToast)
			toast.show()
		}

		function IsEdit(idx){
			@Model.OrdSumList[idx].IsEdit = true
		}

	</script>
}